@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
@import "../../Assets/_globalVar.scss";

* {
  padding: none;
  margin: none;
  font-family: $font;
}

.rider_price {
  color: $orange_color;
}
.detail {
  padding: 1px 0;
}
button:hover {
  background: black;
}

//--my-list-riders--------------------->
.button_myRider {
  border-radius: 10px;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  margin: 10px;
}


.rider_image {
  height: 100px;
  width: 100px;
  margin: 5px 0px;
  border-radius: 8px;
  background-position: 50% 0%;
  background-repeat: no-repeat;
}

.button_myRider >.rider {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: $small_font_size;
  font-family: $font;
  color: $blue_color;
}
.button_myRider:hover >.rider {
  color: white;
}


//--full-list-riders--------------------->
.button_rider {
  background: $blue_color;
}
.button_rider, .taken {
  margin: 3px;
  border-radius: 10px;
  border: none;
}

.rider {
  display: flex;
  flex-direction: row;
  color: white;
  font-size: $small_font_size;
  font-family: $font;
  padding: 8px 5px;
}

.rider >.rider_name_team {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.rider >.rider_price {
  margin-right: 50px;
}

//------taken class----------------------
.taken {
  background: $orange_color;
}
.taken:hover {
  background: $orange_color;
}