@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
@import "../../Assets/_globalVar.scss";

* {
  padding: none;
  margin: none;
  font-family: $font;
  font-weight: 400;
  letter-spacing: 0.4px;
}

.rider_price {
  color: $orange_color;
}
.rider_name {
  font-size: 16px;
  letter-spacing: 3px;
  font-weight: 300;
}
.detail {
  padding: 1px 0;
}
.red_text {
  color: rgb(255, 184, 166);
}
.purple_text {
  color: rgb(255, 166, 255);
}
.green_text {
  color: rgb(126, 252, 126);
}
.blue_text {
  color: rgb(170, 170, 255);
}
.pink_text {
  color: pink;
}





//--full-list-riders--------------------->

.BuyRider {
  background: white;
  border: none;
  color: white;
  height: 30px;
  width: 30px;
  margin: 0 10px;
  border-radius: 50%;
  text-align: center;
  padding: 2px;
}

.button_rider {
  border: 1px solid $blue_color;
  box-shadow:  0 0px 8px 0.2px rgba(0, 0, 0, 0.315);
}
.button_rider:hover {
  background: $blue_color;
}
.button_rider:hover .BuyRider {
  background: $orange_color;
}
.button_rider:hover .rider {
  color: white;
}

.BuyRider:hover {
  cursor: pointer;
  box-shadow: 0 0px 10px 0.5px rgb(0, 0, 0);
}
.button_rider, .taken {
  margin: 3px;
  border-radius: 10px;
  border: none;
}

.rider {
  display: flex;
  flex-direction: row;
  color: $blue_color;
  font-size: $small_font_size;
  font-family: $font;
  padding: 8px 5px;
}

.rider >.name_team {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}


.rider >.rider_price {
  width: 25%;
  font-size: $large_font_size;
  display: flex;
  align-items: center;
}

.rider_points {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: $small_font_size;
}
.toggleRiderInfo {
  background: white;
  color: white;
  border: none;
  border-radius: 30px;
}
.toggleRiderInfo:hover{
  cursor: pointer;
  box-shadow: 0 0px 10px 0.5px rgba(0, 0, 0, 0.87);
}
.button_rider:hover .toggleRiderInfo {
  background: rgb(58,69,87);
}
.nextRace {
  font-weight: bold;
}
.pnts {
  padding: 10px 0px;
}

//--my-list-riders--------------------->
.button_myRider {
  border-radius: 10px;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  margin: 10px;
  padding: 0px 10px;
  background: rgba(0, 0, 0, 0);
  box-shadow:  0 0px 10px 0.5px rgba(0, 0, 0, 0.315);
}

.button_myRider:hover{
  background: rgb(58,69,87);
  box-shadow: 0 0px 10px 0.5px rgba(0, 0, 0, 0.377);
}

.SellRider{
  border: none;
  background: rgb(58,69,87);
  // background: $blue_color;
  color: white;
  width: 70px;
  height: 30px;
  font-size: 12px;
  border-radius: 5px;
  margin-top: 5px;
}
.button_myRider:hover .SellRider {
  background: white;
  color: $blue_color;
}
.SellRider:hover {
  cursor: pointer;
  box-shadow: 0 0px 10px 0.5px rgba(0, 0, 0, 0.932);
}
.More_button {
  background: white;
  color: $blue_color;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  font-size: 12px;
  font-weight: 500;
  margin-left: 30px;
  border: 1px solid rgb(58,69,87);
}
.More_button:hover {
  cursor: pointer;
  box-shadow: 0 0px 10px 0.5px rgba(0, 0, 0, 0.932);
}

.rider_image {
  height: 100px;
  min-width: 100px;
  margin: 5px 0px;
  border-radius: 8px;
  background-position: 50% 0%;
  background-repeat: no-repeat;
}

.button_myRider >.rider {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: $small_font_size;
  font-family: $font;
  color: black;
}
.button_myRider:hover >.rider {
  color: white;
}