@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

$blue_color: rgb(20, 33, 61);
$orange_color: rgb(253, 168, 33);
$grey_color: rgb(229, 229, 229);
$small_font_size: 12px;
$large_font_size: 20px;
$font: 'Oxygen', sans-serif;