@import "../../Assets/_globalVar.scss";

* {
  padding: none;
  margin: none;
}

.fullList {
  display: flex;
  flex-direction: column;
  height: 40vh;
  overflow-y: scroll;
  width: 95vw;
}
.myList {
  display: flex;
  flex-direction: row;
  height: 30vh;
  min-height: 160px;
  overflow-x: scroll;
  width: 95vw;
  padding: 20px 0;
}
