@import "../../Assets/_globalVar.scss";
* {
  padding: none;
  margin: none;
}

.body_home_page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.full_rider_list_heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 94vw;
}

.list_title {
  font-size: $small_font_size;
  font-family: $font;
  color: $blue_color;
  letter-spacing: 5px;
  padding-left: 3px;
}
.home_page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: $blue_color;
  width: 100vw;
  overflow-x: hidden;
}
