@import "../../Assets/_globalVar.scss";

* {
  padding: none;
  margin: none;
}

.full_rider_list_heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85vw;
}

.list_title {
  font-size: $large_font_size;
  font-family: $font;
}
.team_page {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  color: $blue_color;
  width: 100vw;
  overflow-x: hidden;
}
.my_rider_list, .full_rider_list {
  padding: 0 20px;
}

