@import '../../Assets/_globalVar.scss';

* {
  padding: none;
  margin: none;
  font-family: $font;
}

// .small_text {
//   font-size: $small_font_size;
// }

.road_div_grey {
  width: 100vw;
  height: 7px;
  background: $grey_color;
}
.road_div_orange {
  width: 100vw;
  height: 2px;
}
.road_rider_image {
  background-image: url('./logoColor.jpg');
  height: 50px;
  width: 50px;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: -1;
}
.user_item {
  display: flex;
  flex-direction: row;
  transform: translateY(-12px);
  color: $blue_color;
}

.user_item_score {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  font-size: 18px;
  font-weight: 700;
}

.user_item_name {
  font-size: 18px;
  font-weight: 500;
}
.user_item_myName {
  color: $orange_color;
  font-size: 18px;
  font-weight: 900;
}

.user_item_name_team {
  display: flex;
  flex-direction: column;
  padding: 0px 30px;
}
