@import "../../Assets/_globalVar.scss";

* {
  padding: none;
  margin: none;
  font-family: $font;
}
.small_text {
  font-size: 12px;
}

.road_div_grey {
  width: 100vw;
  height: 7px;
  background: $grey_color;
}
.road_div_orange {
  width: 80vw;
  height: 2px;
}

.user_item {
  display: flex;
  flex-direction: row;
  margin: 5px;
  border-radius: 15px;
}

.user_item_score {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
}

.user_item_name_team {
  display: flex;
  flex-direction: column;
  padding: 5px 30px;
}