@import "../../Assets/_globalVar.scss";

* {
  padding: none;
  margin: none;
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start
}
.logo_img {
  background-image: scr('./logoColor.jpg');
  height: 40px;
  width: 40px;
  background-position: center;
  background-size: cover;
}
.user_header {
  display: flex;
  justify-content: space-between;
  width: 95vw;
}
.header_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  overflow-x: hidden;
  box-shadow: 0 0px 20px 1px rgba(0, 0, 0, 0.123);
  height: 8vh;
}
.link_league {
  color: $orange_color;
  text-decoration: none;
}
.link_league:hover {
  color: $blue_color;
}