@import "../../Assets/_globalVar.scss";

* {
  padding: none;
  margin: none;
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start
}
.logoImg {
  width: 40px;
  height: 40px;
  background-image: url('./logoOrange.jpg');
  background-size: cover;
  margin-right: 2px;
  background-position: 0% 50%;
}

.user_header {
  display: flex;
  justify-content: space-between;
  width: 95vw;
  color: black;
}
.header_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  overflow-x: hidden;
  box-shadow: 0 0px 20px 1px rgba(0, 0, 0, 0.123);
  height: 6vh;
  margin-bottom: 3vh;
}

.user_header_details {
  display: flex;
  justify-content: space-around;
  width: 30vw;
  align-items: center;
}

.link_league {
  color: $orange_color;
  text-decoration: none;
  align-self: center;
}
.link_league:hover {
  color: $blue_color;
}
.logOutButton {
  border-radius: 15px;
  border: 0.2px solid $orange_color;
  padding: 5px;
  background: white;
  color: $orange_color;
  height: 30px;
  align-self: center;
}
.logOutButton:hover {
  cursor: pointer;
  color: $blue_color;
  border-color: $blue_color;
}
