@import "../../Assets/_globalVar.scss";

* {
  padding: none;
  margin: none;
}
.user_header {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  padding-top: 3px;
}
.header_box {
  display: flex;
  justify-content: center;
  width: 100vw;
  overflow-x: hidden;
  background: white;
  box-shadow: 0 2px 20px 4px $grey_color;
  height: 5vh;
}
.link_league {
  color: $orange_color;
  text-decoration: none;
}
.link_league:hover {
  color: $blue_color;
}